nav {
    background-color: #396E94;
    padding: 20px;
}
nav a {
    color: #ffffff;
    padding: 10px;
    display: block;
}

main {
    max-width: 960px;
    margin: 0 auto;
}
h1 {
    color: #396E94;
}

main img {
    width:200px;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}


aside {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f4f4f4;
    color: #333333;
}

aside img{
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}